:root {
  /* COLORS */

  /* FONTS */
  --font-xs: 17px;
  --font-sm: 18px;
  --font-md: 24px;
}

* {
  font-family: "Poppins", sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 46px;
}

nav > a {
  margin-left: 34px;
}

/* SECTION HEADER START */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  width: 600px;
}

.explore-travel {
  color: #202336;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  width: 356px;
}

.holiday {
  display: flex;
  padding-top: 74px;
}

.selector {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.selector-row > select {
  width: 220px;
  background-position-x: 190px;
}

.selector-row {
  margin-bottom: 35px;
}

.selector-row > select:nth-child(1) {
  margin-right: 30px;
}

/* SECTION HEADER END */
.explore {
  display: flex;
}

.explore-left {
  width: 500px;
  padding-top: 333px;
}

.explore-right {
  padding-left: 102px;
}

.new-explore {
  color: #202336;
  font-size: 45px;
  line-height: 80px;
  padding-top: 382px;
}

.text-new-explore {
  padding-top: 20px;
  padding-bottom: 33px;
  font-size: 26.5px;
  color: #b8becd;
}

.btn-learn {
  align-items: flex-start;
}

.btn-explore {
  display: flex;
  padding-top: 51px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 36px;
  padding-top: 292px;
}

.view-all {
  color: #fb8f1d;
  font-size: var(--font-xs);
}

.destinations-bottom {
  display: flex;
  gap: 50px;

  padding-top: 70px;
}

.features-img {
  position: relative;

  display: flex;
  flex-direction: row;
}

.img-frs {
  width: 230px;
  padding-right: 30px;
}

.info-img {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 105px;
  z-index: 1;

  font-size: var(--font-xs);
  color: #90949e;
  background-color: white;

  border-radius: 0px 6px 0px 0px;
  padding: 11px 22px 0px 0px;
}

.info-img > strong {
  color: #202336;
}

.sunny {
  display: flex;
  flex-direction: row;
  padding-top: 385px;
}

.sunny-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.thousand-title {
  font-size: 42px;
}
.thousand-text {
  font-size: 16px;
  color: #7d7987;
  padding-bottom: 30px;
}

.sunny-img {
  width: 600px;
  padding-left: 100px;
}

.btn-download {
  width: 180px;
  height: 60px;
}

.foto {
  display: flex;
}

.testimonials {
  font-size: 36px;
  padding-top: 341px;
}

.star {
  width: 25px;
  padding-top: 145px;
  padding-right: 15px;
}
.foto-text {
  font-size: 35px;
}

.foto-name {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  padding-top: 40px;
}

.foto-right {
  position: relative;
}

.foto-img {
  padding-top: 500px;
}

.foto-ellipse {
  position: absolute;
  right: 0px;
  bottom: 0px;

  display: flex;
  gap: 22px;

  padding: 20px 0 0 30px;
  background: #ffffff;
  border-radius: 16px 0px 0px 0px;
}

.trending {
  font-size: 36px;
  padding-top: 200px;
}

.trending-stories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.turist-items {
  display: flex;
  align-items: stretch;
}

.turist-img {
  width: 100%;
  height: 271px;
}

.turist-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 41px;
}

.turist-wrapper:last-of-type {
  padding-right: 0;
}

.turist-title {
  display: flex;
  font-size: 15px;
  font-weight: bold;
}

.turist-text {
  font-size: 13px;
}

.read-more {
  color: #fb8f1d;
  font-size: var(--font-xs);
  padding-top: 30px;
}

.read-more.more {
  color: #fb8f1d;
  font-size: var(--font-xs);
  padding-top: 10px;
}

/* FOOTER START */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 350px;
  padding-bottom: 100px;
}

.footer-text {
  font-size: 18px;
  color: gray;
  width: 400px;
}

.footer-text--copyright {
  font-size: 18px;
  color: gray;
  padding-top: 100px;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.footer-links--header {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  margin-left: 65px;
}

.footer-links--header > span {
  color: gray;
  font-size: 19px;
  min-width: 181px;
}

.line {
  color: #c4c4c4;
  border: solid 1px;
  margin-bottom: 16px;
}

.social {
  font-size: 30px;
  text-align: center;
}

/* FOOTER END */
