button {
  border: none;
  padding: 16px 46px;
  background-color: #fb8f1d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button > a {
  color: white;
}

.btn-white {
  background-color: white;
  color: #fb8f1d;
  border: 1px solid #fb8f1d;
}

button:active {
  background-color: #b8640b;
}

.btn-white:active {
  background-color: #ccd1dd;
}

.ellipse-btn {
  width: 44px;
  height: 44px;
  color: #7d7987;
  background-color: white;
  border: 2px solid gray;
  border-radius: 50%;
  padding: 10px;
}

.ellipse-btn.active {
  color: black;
  border: 2px solid black;
}
